@font-face {
    font-family: Vazirmatn;
    src:
        url('/resources/fonts/vazirmatn/vazirmatn-variable.woff2') format('woff2 supports variations'),
        url('/resources/fonts/vazirmatn/vazirmatn-variable.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
