name: Deploy

on:
  push:
    branches:
      - main
      - staging
  workflow_dispatch:  # manual trigger for dev deploy

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: ci
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # === Main Deploy ===
      - name: Deploy to Production
        if: github.ref == 'refs/heads/main'
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: |
            cd /home/ubuntu/ez-docker-for-laravel
            sudo ./ez laravel deploy androadmin production

      # === Staging Deploy ===
      - name: Deploy to Staging
        if: github.ref == 'refs/heads/staging'
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.STAGING_HOST }}
          username: ${{ secrets.STAGING_USER }}
          password: ${{ secrets.STAGING_PASSWORD }}
          port: ${{ secrets.STAGING_PORT }}
          script: |
            cd /home/ubuntu/ez-docker-for-laravel
            sudo ./ez laravel deploy androadmin staging

      # === Dev Deploy (Manual) ===
      - name: Deploy to Dev
        if: github.ref == 'refs/heads/dev'
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DEV_HOST }}
          username: ${{ secrets.DEV_USER }}
          password: ${{ secrets.DEV_PASSWORD }}
          port: ${{ secrets.DEV_PORT }}
          script: |
            cd /home/ubuntu/ez-docker-for-laravel
            sudo ./ez laravel deploy androadmin dev
